<section class="hero is-dark is-small animated slideInDown">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item medium-text"><i class="fa fa-shopping-basket" aria-hidden="true"></i>&nbsp;Grocery Store</a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <app-sub-menu></app-sub-menu>
            </div>
        </header>
    </div>
</section>